/* Inicio de Sesion*/
.header2
{
    width: 100%;
    height: 135vh;
    max-height: 1000px;

    background-size: cover;
    background-position: center;
}
i .header2{
    color: white;
}
#sesion
{
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;
    font-family: montserrat;
}
.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .formulario h1{
    color: white;
  }
  .formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .formulario form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  .formulario input  {
    color: #fff;
  }
  .username {
    position: relative;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
  }
  
  .username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #ffffff;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .username input:focus + label,
  .username input:not(:placeholder-shown) + label {
    top: -5px;
    color: white;
  }
  

.recordar
{
    margin: -5px 0 20px 5px;
    color: rgb(253, 253, 253);
    cursor: pointer;
}

.recordar:hover
{
    text-decoration: underline;
}

input[type="submit"]
{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgba(9, 218, 37, 0.603);
    border-radius: 25px;
    font-size: 18px;
    color: white; 
    cursor: pointer;
    outline: none 
}

input[type="submit"]:hover
{ 
    border-color: rgba(70, 218, 33, 0.603);
    transition: .5s;
}

.registrarse
{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.registrarse a{
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.registrarse a:hover
{
    text-decoration: underline;
}